<!-- templates/layouts/form_base.html -->
{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="max-width: 600px;">
    <div class="card">
        <div class="card-body">
            <h2>{% block card_title %}{% endblock %}</h2>

            <p>{% block description %}{% endblock %}</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">{% block button_label %}{% endblock %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}